body {
  color: #eaeaea;
  background: #333;

  font-family: 'Helvetica', Arial, sans-serif;
}

img,
svg {
  float: left;
  margin-right: 32px;
}

img {
  width: 300px;
  height: auto;
}

svg {
  width: 300px;
  height: 300px;
}
